.search{
  background-color: #0088cc;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.location-switch{
  display: inline-block;
}
.location-loader{
  position: absolute;
}

