<div class="menu-bar">
  <div class="container">
    <form ng-submit="ctrl.search()">
      <md-input-container class="md-primary">
        <label>Search for a topic</label>
        <input ng-model="ctrl.query.value">
      </md-input-container>
      <md-button aria-label="Search" ng-click="ctrl.search()" ng-disabled="ctrl.disableButton" class="md-raised md-primary">
        Search
      </md-button>
    </form>
    <md-switch ng-model="ctrl.query.geofence" ng-change="ctrl.getLocation()" ng-show="ctrl.geofenceSupport" class="md-accent">
      {{ctrl.query.geofence ? 'Showing local Tweets' : 'Showing global Tweets'}}.
    </md-switch>
</div>
<div class="loading" ng-show="ctrl.disableButton">
  <p>Loading your location</p>
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
