@-moz-keyframes loader { 50%{-moz-transform: scale(1.5) rotate(180deg);} 100% { -moz-transform: scale(1) rotate(360deg);} }
@-webkit-keyframes loader {50%{-webkit-transform: scale(1.5) rotate(180deg);} 100% { -webkit-transform: scale(1) rotate(360deg);} }
@keyframes loader {50%{-webkit-transform: scale(1.5) rotate(180deg); transform: scale(2) rotate(180deg);} 100% { -webkit-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg);}}

.main{
  background-color: #f5f8fa;
  margin-top: 110px;
  height: 100%;

  .landing{
    color: #707070;
    font-size: 18px;
    font-weight: 200;
    padding: 50px 10px;
    text-align: center;
  }

  .results{
    padding: 10px;

    .section{
      .header-img{
        width: 150px;
      }
    }

    .twitter{
      md-list-item.md-no-proxy, md-list-item .md-no-style{
        padding: 12px 8px;
      }

      md-list-item{
        .avatar{
          border-radius: 4px;
        }
      }

      .md-list-item-text{
        margin: 0;
        padding: 0 0 0 16px;
        h3{
          padding-top: 0;
        }
        p{
          line-height: 18px;
        }
      }
      md-list-item md-divider[md-inset] {
        left: 72px;
        width: calc(100% - 72px);
        margin: 0;
      }
      md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
        height: auto;
        min-height: 50px;
      }
    }

    .wikipedia{
      margin-top: 50px;

      .header-img{
        margin-bottom: 10px;
      }

      .hatnote, .toc, .plainlinks, .navbox{
        display: none;
      }
      .infobox{
        border: 1px solid #aaa;
        border-spacing: 3px;
        background-color: #f9f9f9;
        color: black;
        margin: 0.5em 0 0.5em 1em;
        padding: 0.2em;
        float: right;
        clear: right;
        font-size: 88%;
        line-height: 1.5em;
        text-align: left;

        caption{
          font-size: 125%;
          font-weight: bold;
          padding: 0.2em;
        }

        .logo{
          text-align: center;
        }
      }
      .thumbinner{
        width: 225px;
      }
    }

    .relative{
      position: relative;
    }

    .spinner{
      margin-top: 50px;
      text-align: center;
      img{
        -webkit-animation:loader 1s linear infinite;
        -moz-animation:loader 1s linear infinite;
        animation:loader 1s linear infinite;
        opacity: .5;
        width: 75px;
      }
    }
  }
}

@media (min-width: 600px) {
  .main{
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  .main{
    .landing{
      font-size: 24px;
      padding: 100px 10px;
    }

    .results{
      .wikipedia{
        .infobox{
          margin-top: 0;
          width: 350px;
        }
      }
    }
  }
}
